<!-- OBSOLETE -->
{% extends 'base.html' %}
{% block content %}

<h2>{{ event_info.title }}</h2>

Hosted by: <a href='/user/{{ event_info.creator.user_id }}'>{{ event_info.creator.name }}</a>
<br>
<br>
When: {{ event_info.start_at }}
<br>
Until: {{ event_info.end_at }}
<br>
<br>

<form action='/invite-reply/{{ event_info.event_id }}' method='POST'>
	Are you attending?
	<br>
	<input type='radio' name='reply' value='yes'>Yes</input>
	<input type='radio' name='reply' value='no'>No</input>
	<!-- <input type='radio' name='reply' value='maybe'>Maybe</input> -->
	<br>
	<textarea name='note' placeholder='Enter note...' style='width:200px; height:100px;'></textarea>
	

	<input type='submit' value='Submit'></input>

</form>


{% endblock %}