<!doctype html>
<html>
<body>
	<h2>Eventfull</h2>
	<a href='/'>Home</a> | <a href='/user'>Profile</a> |

	{% if session.get('user_id') %}
		<a href='/logout'>Logout</a>
	{% else %}
		<a href='/login'>Login</a> |
		<a href='/registration-form'>Register New User</a>
	{% endif %}

	<br> 
<!--   <button onclick="window.location='/';">Home</button>

  {% if session.get('user_id') %}
  <button id='signIn' onclick="window.location='/login';">Sign In</button>
  {% else %}
  <button id='signIn' onclick="window.location='/logout';">Logout</button>
  <button onclick="window.location='/registration-form';">New User</button>
  {% endif %} -->

	<ul>
    	{% for message in get_flashed_messages() %}
        	<li>{{ message }}</li>
    	{% endfor %}
	</ul>
	<hr>


{% block content %} 
  {% block Javascript %} JAVASCRIPT {% endblock %}
</body>
CONTENTS 
{% endblock %}

<!-- <footer>Copyright © 2018 Eventfull</footer> -->
</html>
