{% extends 'base.html' %}
{% block content %}
<h2>What's your event?</h2>


<form action='/create-event' method='POST'>
    Title: <input type='text' name='title'></input>
    <br><br>
    Note: <textarea name='note' placeholder='Enter a note...'></textarea>
    <br><br>
    Start: <input type='datetime-local' name='start_date'></input>
    <!-- <input type ='time' name='start_time'></input> -->
    <br><br>
    End: <input type='datetime-local' name='end_date'></input>
    <!-- <input type ='time' name='end_time'></input> -->
    <br><br>

   <!--  <form action='/invite'>
    event_info.event_id -->
    Who's invited?<br>
    {% for friend in user.friends %}
        <input type='checkbox' name='friend' value='{{ friend.user_id }}'>{{ friend.name }}<br>
    {% endfor %}<br>
    

    <input type='submit' value='Create'></input>
    <input type='reset' value='Reset'></input>
    
</form>


{% endblock %}