{% extends 'base.html' %}
{% block content %}

<!-- <link href="/static/style.css" rel="stylesheet" type="text/css"> -->

<title>Homepage</title>


<div class="contianer">
	<div class="row">
		<div class="col">
			<div class="card homepage-top">
				<h5 class="card-title text-center" id="homepage-card">You have an eventful day, let's schedule it in.</h5>
			</div>
			<div class="card">
				<img class="card-img" src="/static/productive-desk.jpg" alt="Card image cap">
			</div>
			
			<div class="card">
			  <div class="card-body">
			    <div class="card-text text-center">
				    <h4>About</h4>
				    <p>Eventfull is a calendar web app to help users put visuals on their busy schedules with a calendar view.
				    </p>
			    	<p>As well as, share with friends and family, so they can keep tabs on loved one's schedules.
				    </p>
				</div>

			  </div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="contianer">
	<div class="row">
		<div class="col">
			<div class="card">
				<h5 class="card-title text-center" id="homepage-card">You have an eventful day, let's schedule it in.</h5>
			</div>
			<img class="card-img" src="/static/people-coffee-notes-tea.jpg" alt="Card image cap">
			<div class="card">
			  <div class="card-body">
			    <div class="card-text text-center">
				    <h4>About</h4>
				    <p>Eventfull is a calendar web app to help the user put visuals on their busy
				    	schedule with a calendar view.
				    </p>
				</div>

			  </div>
			</div>
		</div>
	</div>
</div> -->


{% endblock %}





 

