{% extends 'base.html' %}
{% block content %}

<link href="/static/homepage.css" rel="stylesheet" type="text/css">

<title>Homepage</title>

<div class="card bg-light">
	<img class="card-img" src="/static/productive-desk.jpg" alt="Card image">
	<div class="card-img-overlay">
	  
		<div class="transbox">
	    	<p><h3>You have a busy day, let's stay organized.</h3></p>
	  	</div>
  	</div>
  	<section class="container" id="homepage">
		<div class="block">
			<h2>Test</h2>
			<p>While you may be too busy to keep a journal, you’re in for a pleasant surprise. We’ve discovered a way to turn your posts into an elegant journal quite worthy of a spot on your coffee table.</p>
		</div>
	</section>
	
</div>



<!-- <div class="card bg-light">
	<img class="card-img" src="/static/Eventfull/productive-desk.jpg" alt="Card image">
	<div class="card-img-overlay">
	</div>
	<section class="container-fluid"
	    <h5 class="card-title"></h5>
	    <p class="card-text">Birthdays</p>
	    <p class="card-text">Sports games</p>
	    <p class="card-text">Weddings</p>
	    <p class="card-text">Recitals</p>
	    <p class="card-text">Celebrations</p>
	</section>
	<span class="border-bottom"></span>
</div> -->
{% endblock %}



 

